
    
{% extends "Home.html" %}

{% block content %}
    <h2 class="heading"> Role Listing</h2>
    
<div class="text-center m-2"><a href="/RoleOperation?operation=Create" class="btn btn-outline-primary btn-sm ">Create</a></div>
    <table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th scope="col">Role ID</th>
      <th scope="col">Role Name</th>
      <th scope="col">Can View</th>
<th scope="col">Can Role</th>
<th scope="col">Can User</th>
<th scope="col">Can Edit</th>
<th scope="col">Can Delete</th>


      <th scope="col">Action</th>
      
    </tr>
  </thead>
  <tbody>
        {% if records | length == 0 %}
            <tr>
                <td colspan="6">
                    <div class="alert alert-info" style="display:block" >
                        <div class="text-center"> <b>No&nbsp;</b><span>Role Found</span>
                        </div>
                    </div>
                </td>
            </tr>
        {% endif %}
    {% for row in records %}
        <tr>
            <td>{{ row.roleID }}</td>
            <td>{{ row.roleName }}</td>
            <td>{{ row.canDocumentHolder }}</td>
<td>{{ row.canRole }}</td>
<td>{{ row.canUsers }}</td>
<td>{{ row.canedit }}</td>
<td>{{ row.candelete }}</td>

        <td>
            <a href="/RoleOperation?operation=Edit&unique_id={{ row.roleID }}" class="btn btn-outline-warning btn-sm ">Edit</a>
            <a href="/RoleOperation?operation=Delete&unique_id={{ row.roleID }}" class="btn btn-outline-warning btn-sm ">Delete</a>
        </td>
        </tr>
    {% endfor %}
   </tbody>
</table>
<div class="text-center m-2"><a href="/RoleOperation?operation=Create" class="btn btn-outline-primary btn-sm ">Create</a></div>
{% endblock %}
    
    
    